<?xml version="1.0" encoding="UTF-8"?> 
<Configuration> 
  <Appenders> 	
  	<File name="FileLogger" fileName="resources/logs/Debug.log" append="false"> 
      <PatternLayout pattern="%d %-5p %c{2} - %m%n"/> 
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n"/> 
    </Console> 
  </Appenders> 
  <Loggers> 
    <Root level="debug" additivity="false"> 
      <AppenderRef ref="FileLogger" level="debug"/>	
      <AppenderRef ref="STDOUT" level="error"/> 
    </Root> 
  </Loggers> 
</Configuration>